.new-expense form{
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust this value based on your layout */
    background-color: #90dc26;
    padding: 1rem;
    margin: 1rem 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 6px;

    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  .new-expense button {
    font: inherit;
    cursor: pointer;
    margin-top: .5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #39393a;
    color: white;
    border-radius: 6px;
    margin-right: 1rem;
  }
 
.new-expense__control__title{
  margin-left: 6rem;

}
.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: black;
    font-size: 1.3rem;
    font-weight: 200;
  }
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-expense__actions {
    text-align: right;
  }
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #646265;
  
  }
